.nav-wrapper {
  border: 1px solid black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  background-color: rgb(24, 25, 26);

  .logo-element {
    background-color: red;
    .logo-text {
      color: #fff;
    }
  }

  .list-elements {
    display: flex;
    flex-direction: row;
    list-style: none;
    color: #fff;
    .list-element {
      cursor: pointer;
      padding: 30px;
    }
  }

  .searchbar {
    border-radius: 5px;
    outline: none;
    padding: 20px;
  }

  .selected-item {
    background-color: #fff;
    color: grey;
  }
}
